/APEDescriptor.class
/APEFileInfo.class
/APEHeader.class
/APEHeaderNew.class
/APEHeaderOld.class
/APEInfo.class
/APELink.class
/APETag.class
/APETagField.class
/APETagFooter.class
/CompressionLevel.class
/ID3Genre.class
/ID3Tag.class
/SpecialFrame.class
/WaveFormat.class
/WaveHeader.class
