/ID3v1Tag.class
/ID3v2ExtendedHeader.class
/ID3v2Footer.class
/ID3v2Frame.class
/ID3v2Frames.class
/ID3v2Header.class
/ID3v2Tag.class
/MP3FileID3Controller.class
/MPEGAudioFrameHeader.class
/NullsoftID3GenreTable.class
