/Application.class
/CueIndex.class
/CueSheet.class
/CueTrack.class
/Metadata.class
/Padding.class
/Picture.class
/SeekPoint.class
/SeekTable.class
/StreamInfo.class
/Unknown.class
/Violation.class
/VorbisComment.class
/VorbisString.class
